
:root {
    --A: #444444;
    --B: #828282;
}

* {
    color: white;
    font-family: monospace;
    font-size: larger;
    text-align: center;
    outline: none;
    margin: 0;
    padding: 0;
}

.noBar::-webkit-scrollbar {
    display: none;
}

.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    background-color: var(--A);
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
}

.mode {
    min-width: 80px;
    width: 12%;
    background-color: var(--B);
    border-right: 3px solid #0000002e;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 2;
}

.mode > div {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    border: 1px solid var(--A);
    padding: 10%;
    margin: 15%;
    cursor: pointer;
}

.mode > div:hover {
    border-color: white;
    background-color: var(--A);
}

.mode > div > img {
    width: 100%;
}

.tabs {
    width: -webkit-fill-available;
}


#view {
    width: 89%;
    height: 100%;
    position: absolute;
    right: 0;
    overflow: hidden;
}

#view > .info {
    width: calc(100% - 32px);
    border-bottom: 3px solid #0000002e;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    padding: 16px;
}

#view > .info > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    padding: 2px 16px;
    box-shadow: 0 0 2px 1px #0000004a;
    -webkit-text-stroke: thin;
}

#view > .info > div > div {
    width: fit-content;
    height: fit-content;
}

#view > .diagram {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}

#list {
    height: 96%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;
    padding: 2%;
}

#list > .search {
    display: flex;
    justify-content: center;
    width: 100%;
}

#list > .search > input {
    background-color: #ffffff26;
    border: 2.5px solid #ffffff96;
    border-radius: 17px;
    width: 260px;
    height: 32px;
    font-size: 20px;
}

#list > .search > input::placeholder {
    color: white;
}

#list > .boards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 2%;
}

#list > .boards > div {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--B);
    border-radius: 32px;
    background-color: #ffffff63;
    margin: 4px;
}

#list > .boards > div:hover {
    border-color: white;
    cursor: pointer;
    background-color: var(--B);
}

#list > .boards > div > img {
    max-width: 90%;
    max-height: 90%;
}

#list > .boards > div > div {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 1px #000000a8;
}

#Arduino_Uno > img {
    width: calc(53.3mm * .8);
    height: calc(77mm * .8);
}

#Arduino_Nano > img {
    width: calc(18mm * .8);
    height: calc(45mm * .8);
}

#Raspberry_Pi_Zero > img {
    width: calc(32mm * .8);
    height: calc(68mm * .8);
}


ellipse[id^=pin]:hover {
    stroke: white;
    stroke-width: .2;
    cursor: pointer;
}

rect[id^=pin]:hover {
    stroke: white;
    stroke-width: .2;
    cursor: pointer;
}
